.comment-tools {
    height: 40px;
    width: 100%;
}

.threadline {
    display: inline-block;
    min-width: 1px;
    width: 2px;
    background:rgb(237, 239, 241);
}

.threadline.invisible {
    opacity: 0;
}

.comment-container {
    margin: 5px;
    padding: 2px;
    margin-bottom: 10px;
    max-width: 450px;
    display: inline-block;
}

.comment-row {
    display: flex;
}

.comment-body > p {
    margin: 0.2rem 0rem 0.2rem 0rem;
}

.comment-entry-box {
    margin: 15px;
}

.comment-entry-box .comment-reply-button {
    margin: 8px;
    float: right;
}

@media (max-width: 1000px) {

    .threadline {
        width: 1px;
    }

}