.App {
  text-align: center;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}


.App-header {
  width: 100%;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: white !important;
  border-bottom: 1px solid rgba(0,0,0,.125);
  height: 60px;
  margin-bottom: 30px;
}

.App-link {
  color: #ff8514;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  margin-top: 10px;
}

@media (max-width: 767.98px) {
  .post-list {
    padding-left: 0px;
    padding-right: 0px;
  } 
}
